/* Tab css */
.tabs-container {
  float: left;
}
.tabs-menu {   
    height: 30px;   
    clear: both;
    margin:0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: -1px;
}
.tabs-menu li {
    height: 30px;
    list-style: none;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    background-color: #f3f3f3;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    /*color:#000;*/
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {

    padding: 10px; 
    color: #000;
    text-decoration: none; 
      
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    /*background-color: #fff;*/
    float: left;
    color:#000;
    margin-bottom: 20px;
    width: auto;     
}
.tab-content {
    width:100%;  
    padding: 10px;
    display: none;
    color:#fff;
  }
@media (min-width: 1200px) {
  .tab-content {
      min-width: 450px;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .tab-content {
      min-width: 450px;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .tab-content {
        min-width: 450px;
    }
  }
/* xs */
@media (max-width: 767px) {
  .tab-content {
        min-width: 450px;
    }
}

/* XS Portrait */
@media (max-width: 480px) {
  .tab-content {
      min-width: 250px;
  }
}  
#tab-1 {
 display: block;   
}
.rrpa_clear_div {
    clear: both;
}